@font-face {
    font-family: 'HankenGrotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 100 1000;
}

:root {
    /* *General Styles */
    --main-font: 'HankenGrotesk';
    --fallback-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    ;
    --font-wght-XL: 800;
    --font-wght-L: 700;
    --font-wght-M: 500;
    --summary-total-opacity: .55;

    /* *Primary Colors */
    --Light-red: 0, 100%, 67%;
    --Orangey-yellow: 39, 100%, 56%;
    --Green-teal: 166, 100%, 37%;
    --Cobalt-blue: 234, 85%, 45%;

    /* *Gradients */
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    --Violet-blue-circle: hsla(256, 72%, 46%, .15);
    --Persian-blue-circle: hsla(241, 72%, 46%, .7);

    /* *Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font), var(--fallback-font);
}

.container {
    min-height: 100dvh;
}

/* *Your Results Section Styles */

.your--results {
    min-height: 40dvh;
    background-image: linear-gradient(0deg, var(--Light-royal-blue-background), var(--Light-slate-blue-background));
    color: var(--Pale-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0 0 2rem 2rem;
}

.title {
    font-weight: 500;
    color: var(--Pale-blue);
}

.score--container {
    background-image: linear-gradient(0deg, var(--Violet-blue-circle)30%, var(--Persian-blue-circle));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 50%;
}

.your--score {
    font-weight: var(--font-wght-XL);
    font-size: 3.5rem;
}

.possible--score {
    font-weight: var(--font-wght-M);
    color: var(--Light-lavender)
}

.result--indicator {
    font-weight: var(--font-wght-L);
}

.result--description {
    margin: 0 auto;
    color: var(--Light-lavender);
    max-width: 18rem;
    font-size: 1.12rem;
    font-weight: var(--font-wght-M);
}

/* *Breakdown Summary Styles */

.breakdown--summary {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .5rem 1.5rem;
    gap: .5rem;
}

.breakdown--summary>.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    padding: .75rem;
}

.breakdown--title>h2 {
    color: var(--Dark-gray-blue)
}

.summary>.left--side {
    align-items: center;
}

.summary h3 {
    font-weight: 500;
}

.summary.reaction {
    background-color: hsla(var(--Light-red), .075);
}

.summary.reaction h3 {
    color: hsl(var(--Light-red))
}

.summary.memory {
    background-color: hsla(var(--Orangey-yellow), .075);
}

.summary.memory h3 {
    color: hsl(var(--Orangey-yellow))
}

.summary.verbal {
    background-color: hsla(var(--Green-teal), .075);
}

.summary.verbal h3 {
    color: hsl(var(--Green-teal));
}

.summary.visual {
    background-color: hsla(var(--Cobalt-blue), .075);
}

.summary.visual h3 {
    color: hsl(var(--Cobalt-blue))
}

.summary>.left--side {
    display: flex;
    gap: 1rem;
}

.summary>.right--side {
    display: flex;
    gap: 0.25rem;
    padding-right: .5rem;
}

.summary.action {
    padding: .25rem 0;
}

.summary.action>#continue {
    font-size: 18px;
    font-weight: var(--font-wght-XL);
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    border: none;
    border-radius: 5rem;
    padding: 1rem;
    flex: 1;
}

.right--side>span:nth-of-type(2) {
    color: var(--Dark-gray-blue);
    font-weight: var(--font-wght-XL);
    opacity: var(--summary-total-opacity);
}

.individual--score {
    color: var(--Dark-gray-blue);
    font-weight: var(--font-wght-XL);
}

.total--score {
    color: var(--Dark-gray-blue);
    font-weight: var(--font-wght-XL);
    opacity: var(--summary-total-opacity);
}

/* *Mobile device media queries */
@media screen and (max-width: 575px) and (min-height: 668px) {
    .breakdown--summary {
        min-height: 60dvh;
        justify-content: space-evenly;
    }

    .breakdown--summary> :not(.summary.action, .breakdown--title) {
        padding: 1.1rem;
    }

    .summary.action>#continue {
        padding: 1.25rem;
    }
}

/* *Desktop media queries */
@media screen and (min-width: 576px) and (min-height: 600px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card--wrapper {
        display: flex;
        border-radius: 2rem;
        box-shadow: 20px 20px 20px 7px var(--Pale-blue);
    }

    .your--results {
        justify-content: space-evenly;
        border-radius: 2rem;
    }

    .result--description {
        text-align: center;
    }

    .breakdown--summary {
        min-width: 20rem;
        min-height: 40dvh;
    }

    .summary {
        justify-content: space-between;
    }
}

@media (hover: hover) and (pointer: fine) {
    #continue:hover {
        background-image: linear-gradient(0deg, var(--Light-royal-blue-background), var(--Light-slate-blue-background));
    }
}